.img-blog{
	width: 300px;
	height: 284px;
	float: left;
}
.btn-ver{
	font-size: 18px;
	padding: 1% 7%;
	border-radius: 2.5%;
	margin-top: 2%;
}
.post{
	padding: 2%;
	margin: 0 30px 0 330px;
	height: 284px;
}
.blog{
	padding: 5% 10%;
}
