.clases-descripcion{
	width: 230px;
	height: 120px;
	background: rgba(0,0,0,0.5);
	font-size: 16px;
	padding: 20px;
	position: absolute;
	top: 180px;
	left: 25px;
}
.dimensiones{
	height: 400px;
	width: 280px;
	margin: 0 3%;
	position: relative;
	background-size: cover;
}
.bg-clases1{
	background-image:url("../img/dance_12.jpg");
}
.bg-clases2{
	background-image:url("../img/breakdance.jpg");
}
.bg-clases3{
	background-image:url("../img/lirical-jazz.jpg");
}
.bg-clases4{
	background-image:url("../img/arabe.jpg");
}
.bg-clases5{
	background-image:url("../img/little.jpg");
}
.bg-clases6{
	background-image:url("../img/yoga.jpg");
}
.clases{
	padding: 5% 10%;
	margin: auto;
}
