/* Inserta tu codigo que es común para todas las páginas aqui */
a{
	text-decoration: none;
}
header nav a{
	margin: 0% 3%;
	font-size: 21px;
}

header nav{
	margin: 2% 0 2% 0;
}

button{
	background-color: #192951; 
	border: none;
	text-align: center;
	text-decoration: none;
	color: white;
}

.contactenos{
	background-image:url("../img/shoes_1.jpg");
	height: 700px;
}

footer p{
	padding:1.5%;
	font-size: 18px;
}