html,body{
	width: 100%;
	text-align: center;
}

nav{
	margin: 3% 0%;
}

.logo{
	width: 100px;
	height: 100px;
	margin: 0 30%;
}

a{
	text-decoration: none;
}

nav a{
	font-size:18px;
	margin: 1%;
	color: #9a9ac1; /*grey*/
	padding: 1% 2%;
	font-weight: 600;
}

.fondo{
	background:url("../img/semilla.jpg");
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.description{
	background-color: #f2f2f2; /*grey*/
	height: 150px;
	padding: 6% 7%; 
	text-align: justify;
}
.caja{
	margin: 0 5%;	
}

.metodologia{
	background: url("../img/fondo.jpg");
	height: 400px;
	color: white;
}

.exponente{
	width: 100%;
	height: 400px;
}

.icon-metodo{
	margin: 10% 46.8% 7%;
}

.metodo p{
	margin: 4%;
}

.servicios{
	padding: 3%;
}
.tipo-servicio{
	margin:8%;
}

.servicios p{
	margin: 2% 0;
}

.tipo-servicio h3{
	color: #5e8039;
	margin:2% 0;
}

.proyectos{
	background-color: #5e8039; /*green*/
	padding: 3% 5% 3% 2%;
}

.foto-proyecto{
	width: 80%;
	height: 350px;	
}

.foto-perfil{
	width: 45%;
	border-radius: 100%;
	margin-bottom: 8%;
}

.ico-red{
	width: 35px;
	border-radius: 10%;
	margin:7% 1%;
}

.blog{
	background:url("../img/fondo2.jpg");
	padding: 4% 5%;
}

.foto-post{
	width: 100%;
}

.post{
	width: 85%;
	margin: 1% 10% 0 10%;
}

.caja-redes{
	border: 1px solid white;
	width: 100%;
	height: 300px;
}

.ico-redes{
	width: 50px;
	border-radius: 100%;
	margin-top: 40%;
}

.email{
	margin-top: 44%;
}

.orange {
	color: orange;
}

.flecha {
	position: absolute;
	width: 3%;
	top: 40%;
}

.left {
	left: 2%;
}

.right {
	right: 2%;
}

.blog{
	position: relative;
}





